<div id="footer">     
    <div id="footer-content">                     
        <div id="footer-top" class="clear">             
            <div class="one-fourth">
                <div id="text-4" class="widget_text">
                    <h3>About Us</h3>			
                    <div class="textwidget">We enable awesome students in Singapore to move ideas forward.</div>
                </div><!--END widget wrapper-->
            </div><!--END one-fourth-->
            <div class="one-fourth">
                <div id="text-5" class="widget_text">
                    <h3>Connect With Us</h3>			
                    <div class="textwidget">       
                      
                    </div>
                </div><!--END widget wrapper-->                    
            </div><!--END one-fourth-->
        </div><!--END FOOTER-TOP-->             
        <div id="footer-bottom" class="clear">                     
            <div class="one-half">
                <div id="text-2" class="widget_text">			

                </div>                    
            </div><!--END ONE-HALF-->    
                    
            <div class="one-half text-align-right last">            
                <div id="text-3" class="widget_text">			

                </div>                   
            </div><!--END ONE-HALF LAST-->             
        </div><!--END FOOTER-BOTTOM--> 
        </div><!--END FOOTER-CONTENT--> 
    </div><!--END FOOTER-->